// Bootstrap and BootstrapVue SCSS files
@import '_variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

html {
  background-color: #cdd6e7;
}

body {
  background-color: #cdd6e7;
}

code {
  color: $indigo;
}

div.container {
  margin-top: 1rem;
}

p a {
  text-decoration: underline;
}

h2 {
  margin-top: 2rem;
}


h4 {
  margin-top: 2rem;
}

div.blog-post ul.toc li a:link {
  text-decoration: none;
}

div.blog-post ul.toc li.toc2 {

}

div.blog-post ul.toc li.toc3 {
  margin-left: 1rem;
  list-style-type: circle;
}

div.blog-post ul.toc li.toc4 {
  margin-left: 2rem;
  list-style-type: disc;
}


div.blog-post ul li {
  margin-bottom: 0.15rem;
}

div.blog-post a {
  text-decoration: none;
}

.video-container {
  margin-bottom: 2rem;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.figure-img {
  margin-top:.25rem;
}

.media-caption {
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  margin-top:  .25rem;
  color: $gray-600;
}

//.project-page a:link, .project-page a:visited {
//  font-weight: bold;
//}

// anti-scrollbar jump
// https://aykevl.nl/2014/09/fix-jumping-scrollbar
// Almost worked, but not quite, I think due to timing of content loading in an SPA.
/*
@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }

  .navbar {
    margin-left: calc(-1 * calc(100vw - 100%));
  }
}
*/

@media screen and (min-width: 960px) {
  body {
    //height: 100%;
    //margin-bottom: 1px;
    overflow-y: scroll;
  }
}

.table th {
  border-top: none;
}

@include media-breakpoint-down(sm) {
  .jumbotron h1.display-4 {
    font-size: $display4-size * 0.75;
  }
}

blockquote {
  @extend .blockquote;
}
