---
import Layout from '../layouts/BaseLayout.astro'
---

<Layout title="Kaliatech - Not Found">
  <div class="container mx-auto">
    <div class="my-4">
      <h2 class="my-4">Not Found</h2>
    </div>
    <div>
      <p>A page does not exist at this URL.</p>
      <p class="my-4">
        <a class="btn-linkl btn" href="javascript:history.back()">Go back </a>
      </p>
    </div>
  </div></Layout
>
