---
import Layout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
//import bgMain3b from '../assets/bg-main-kt-001.jpg'
//const bgMain3bStyle = `background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(138,38,38,0.8), rgba(38,38,38,1)), url('${bgMain3b.src}');`
//const bgMain3bStyleSrc = bgMain3b.src
//const bgImgUrl = bgMain3bStyleSrc

import spacemanImg from '../assets/i/spaceman.gif'
import { LinkButton } from '../components/buttons/LinkButton'
---

<Layout title="Kaliatech">
  <div class="bg1 flex items-center overflow-hidden bg-cover bg-center bg-no-repeat">
    <!-- Note the blur filter also somewhat blurs the text. Hard to notice. backdrop-blur-sm-->
    <div
      class="mt-4 flex-grow rounded-2xl bg-gray-200 px-16 pb-20 pt-14 backdrop-blur-sm dark:bg-theme-700 dark:bg-opacity-50"
    >
      <div class="relative flex">
        <Image src={spacemanImg} alt="spaceman" class="ml-[-24px] mt-2 max-h-[200px] w-auto pr-8" />

        <div class="w-full">
          <span
            class="invisible absolute mx-auto box-content flex w-fit select-none border-none bg-clip-text py-4 pb-3 text-center text-5xl font-light text-transparent blur-md md:text-[4rem] dark:visible dark:bg-white"
          >
            Kaliatech
          </span>
          <h1
            class="relative top-0 flex h-auto w-fit select-auto bg-clip-text py-4 pb-3 text-center text-5xl font-light text-theme-off_black md:text-[4rem] dark:text-white"
          >
            Kaliatech
          </h1>
          <!--<h1 class="pb-3 pl-2 text-5xl font-light text-white md:text-[5.5rem]">Kaliatech</h1>-->
          <h2 class="w-100 py-1 font-light text-theme-off_black dark:text-white">
            Online space for Josh's random interests.
          </h2>
          <hr class="mb-6 mt-4 border-theme-off_black opacity-20 dark:border-white" />
          <div class="flex flex-wrap gap-2">
            <LinkButton label="Blog" href="/blog" />
            <LinkButton label="Photos" href="/photos" />
            <LinkButton label="Bookmarks" href="/bookmarks" />
            <LinkButton label="Contact" href="/contact" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<style define:vars={{ bgImgUrl: `url("${bgImgUrl}")` }}>-->
  <!--  .bg1 {-->
  <!--    background-color: #456787; /* theme[400] */-->
  <!--    background-image: linear-gradient(-->
  <!--        to bottom,-->
  <!--        rgba(0, 0, 0, 0),-->
  <!--        rgba(220, 220, 220, 0.5),-->
  <!--        rgba(220, 220, 220, 0.6)-->
  <!--      ),-->
  <!--      var(&#45;&#45;bgImgUrl);-->
  <!--  }-->

  <!--  :global(.dark) .bg1 {-->
  <!--    background-color: #456787; /* theme[400] */-->
  <!--    background-image: linear-gradient(-->
  <!--        to bottom,-->
  <!--        rgba(0, 0, 0, 0),-->
  <!--        rgba(38, 38, 38, 0.5),-->
  <!--        rgba(38, 38, 38, 0.75)-->
  <!--      ),-->
  <!--      var(&#45;&#45;bgImgUrl);-->
  <!--  }-->
  <!--</style>-->
</Layout>
