---
import { Image } from 'astro:assets'

interface Props {
  title?: string
  img?: any
  imgH?: number
  url?: string
  htmlText?: string
}
---

<div
  class="mt-4 flex flex-col rounded-sm border border-theme-200 bg-slate-50 p-8 shadow-sm dark:border-theme-600 dark:bg-theme-600"
>
  <!--<div class="rounded-t-md bg-gradient-to-b from-gray-700 to-theme-700">-->
  <!--src={Astro.props.imgUrl}-->
  <div class="mb-2 flex h-[25px] items-center rounded-t-sm">
    <a href={Astro.props.url} class="flex flex-grow">
      <div class="w-full flex-grow p-4 dark:rounded dark:bg-white dark:bg-opacity-20">
        <Image
          src={Astro.props.img}
          alt={Astro.props.title ?? ''}
          title={Astro.props.title ?? ''}
          class={`aspect-auto w-auto`}
          style={`height: ${Astro.props.imgH ?? 15}px`}
        />
      </div>
    </a>
  </div>
  <hr class="my-4 border-neutral-300 dark:opacity-0" />
  <div class="text-content light:bg-slate-50 flex-grow rounded-b-sm text-neutral-content">
    <p class="prose leading-6">
      <Fragment set:html={Astro.props.htmlText} />
    </p>
  </div>
</div>
