---
interface Props {
  title?: string
  items?: string[]
}
---

<div class="mt-4 rounded-sm border border-theme-200 shadow-sm dark:border-theme-600">
  <!--<div class="rounded-t-md bg-gradient-to-b from-gray-700 to-theme-700">-->
  <div class="rounded-t-sm bg-theme-600 shadow-md dark:bg-theme-700">
    <h3 class="px-4 py-3 text-lg text-neutral-content">{Astro.props.title ?? '???'}</h3>
  </div>
  <div class="text-content rounded-b-sm bg-slate-50 text-neutral-content dark:bg-theme-600">
    <ul class="ml-8 list-inside list-disc py-4 pb-8 leading-6 text-base-content">
      {Astro.props?.items?.map((item) => <li>{item}</li>)}
    </ul>
  </div>
</div>
