---
interface Props {
  iconSvg: string
  name: string
  url: string
}
---

<div>
  <a class="btn btn-primary w-40" href={Astro.props.url} rel="noopener"
    ><div class="h-6 w-6 fill-white dark:invert">
      <Fragment set:html={Astro.props.iconSvg} />
    </div>
    <div class="">{Astro.props.name}</div>
  </a>
</div>
