---

---

<div class="font- flex flex-col items-center p-4 text-sm font-light">
  <div>email <a class="link" href="mailto:info@jgstechnical.com">info@jgstechnical.com</a></div>
  <div>
    phone <a class="link" href="tel:+1-814-359-9317">+1 814.359.9317 USA</a>
  </div>
  <!--<div>© 2024</div>-->
</div>
